


.footer{
  background-color:#337ab7;
  border-color: #337ab7;
  color: #FFFFFF;

}


h1,
h2,
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #4aaaa5;
}